<!DOCTYPE html>
<html>
body {
font-family: Arial, Helvetica, sans-serif;
}

input[type=text], input[type=password],input[type=email] {
    width: 70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}


.login{
   margin:auto;
   margin-right:10px;
margin-top:30px;
    width: 25%;
    border: 2px solid #00294f;
    padding-right:10px;
padding-left:10px;
padding-top:30px;
padding-bottom:30px;
text-align:center;
}

.contact{
   margin:auto;
   margin-right:300px;
margin-top:30px;
    width: 49%;
    border: 2px solid #00294f;
    padding-right:10px;
padding-left:10px;
padding-top:30px;
padding-bottom:30px;
text-align:center;
}

.feedback{
   margin:auto;
   margin-right:300px;
margin-top:30px;
    width: 49%;
    border: 2px solid #00294f;
    padding-right:10px;
padding-left:10px;
padding-top:30px;
padding-bottom:30px;
text-align:center;
}
.checkout{
   margin:auto;
   margin-right:300px;
margin-top:30px;
    width: 49%;
    border: 2px solid #00294f;
    padding-right:10px;
padding-left:10px;
padding-top:30px;
padding-bottom:30px;
text-align:center;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}


/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 30px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: center;
  width: 30%;

}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 100px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #D5D8DC  ;
    margin-bottom: 27px;
}
 
/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
</html>
